/*
 *= require_self
 *= require_tree .
 */

@import url('https://fonts.googleapis.com/css?family=Marck+Script');

$red: #e60039;
$purple: #ad35a2;

body{
  font-family: 'Marck Script', cursive !important;
}
.link-error{
  color: $red;
}
.link-standart{
  color: $purple;
}
