.reserve {
  &.show .content {
    & {
      margin: 4% 6.6% 0;
      padding: 3%;
      border: 2px solid black;
      border-radius: 16px;
      background-color: #FFFDD8;
    }
    .reserve-info {
      margin-left: 32.5%;
      font-size: 30px;
      div:first-child { padding-bottom: 3% }
    }
    .reserve-actions {
      display: block;
      text-align: right;
      margin: 5% 0 0;
      a {
        & { text-decoration: none }
        &:hover { text-decoration: underline; }
        &:after {
          content: "\a";
          white-space: pre;
        }
      }
    }
    .reserve-about {
      div {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        h3.title  { text-align: center }
        p.description-text { text-align: justify }
      }
      .adress-image {
        img {
          margin: 0 50%;
          width: 100%;
        }
      }
    }
  }
}

